 <main class="app-main">
    <!-- <div class="components-grid"> -->
        <a class="nav-link" routerLink="/medList">All Medicines</a>
      <div class="component-section">
        <app-add-med></app-add-med>
      </div>
     <!-- <div class="component-section">
        <app-search-med></app-search-med>
      </div> -->

      <!-- <div class="component-section full-width">
        <app-med-list></app-med-list>
      </div> -->
       
    <!-- </div> -->
    <!-- <button class="btn-add-medicine" (click)="addnew()">Add New Medicine</button>
       -->
  </main>